[Desktop Entry]
Type=Application
Name={{name}}
{{#if comment}}
Comment={{comment}}
{{/if}}
Exec={{exec}} %F
Icon={{icon}}
StartupWMClass={{exec}}
Terminal=false
Categories=Office;Viewer;
MimeType=application/pdf;
